/* tablet */

@media (max-width: 992px) {
  .img-hero {
    display: none;
  }

  .hero-container {
    max-width: 90%;
  }
  .slogan {
    width: 500px;
    align-items: center;
    text-align: center;
  }

  .info-container {
    max-width: 650px;
  }

  .categories-h2,
  .recetas-h2,
  .whyus-h2 {
    max-width: 992px;
    width: 80%;
  }

  .navbar {
    width: 100%;
  }
  .footer {
    max-width: 992px;
    width: 100%;
  }
}
