@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap");

:root {
  /* colors */

  --black1: rgb(0, 0, 0);
  --black2: #27191c;
  --white: rgb(255, 255, 255);
  --white2: #e0e4ce;
  --grey: rgb(63, 63, 63);
  --green1: #2d3839;
  --green2: #114d4d;
  --green3: #6e9987;

  /* font-size */
  --small: 14px;
  --medium: 18px;
  --large: 24px;
  --xlarge: 32px;
  --xxlarge: 48px;

  /* fonts */
  --font-light: (200);
  --font-regular: (400);
  --font-bold: (600);
  --font-black: (800);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
a:visited {
  color: var(--white);
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 8px;
  background: linear-gradient(to right, var(--green2), var(--green1));
  height: 60px;
  font-weight: var(--font-bold);
  position: fixed;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  height: 50px;
}

.list-ul {
  display: flex;
  gap: 1.5rem;
}

li a {
  color: var(--white2);
}

i {
  padding: 5px;
}

main {
  background-color: var(--green1);
  color: var(--white2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.hero-container {
  padding: 40px 80px;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
  background: linear-gradient(var(--green3), var(--green2), var(--green1));
  border-radius: 10px;
}
.slogan {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  padding: 40px;
}
.title-hero {
  font-size: var(--xxlarge);
  font-weight: var(--font-black);
}

.More-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.More-info1 {
  border: none;
  background-color: var(--green2);
  color: var(--white);
  padding: 5px 20px;
  border-radius: 20px;
  font-size: var(--small);
  text-align: center;
  border: 3px solid var(--green2);
}

.More-info2 {
  border: 3px solid var(--green2);
  background-color: none;
  color: var(--white);
  padding: 5px 30px;
  border-radius: 20px;
  border-style: 3px;
  font-size: var(--small);
  text-align: center;
}
.img-hero img {
  width: 450px;
  border-radius: 10px;
}

.info-container {
  padding: 50px;
  display: flex;
  width: 1000px;
  justify-content: center;
  align-items: center;
}

.info-container p {
  text-align: center;
  text-align: center;
  font-size: var(--large);
  font-weight: var(--font-black);
}

.categories-container,
.recetas-container,
.whyus-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  width: 1000px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.categories-h2,
.recetas-h2,
.whyus-h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--green3);
  border-radius: 16px;
}
.categories-links,
.recetas-destacadas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}

.categories {
  background-color: var(--green2);
  padding: 10px;
  border-radius: 8px;
}
.categories img {
  width: 350px;
  border-radius: 4px;
  object-fit: cover;
}
.categories-h3 h3 {
  text-align: center;
  font-size: var(--large);
  font-weight: var(--font-black);
}

.recetas-destacadas-card {
  display: flex;
  justify-content: space-between;
  background-color: var(--green2);
  padding: 10px;
  border-radius: 8px;
}

.recetas-destacadas-card img {
  width: 300px;
  border-radius: 4px;
}

.info-recetas-h3 h3 {
  display: flex;
  justify-content: start;
  font-size: var(--large);
  font-weight: var(--font-black);
}

.info-recetas-card {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.info-recetas-card img {
  width: 50px;
  gap: 50p;
  padding: 0;
  border-radius: 5px;
}
.info-recetas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.info-recetas p {
  font-size: var(--medium);
}

.whyus-benefit {
  display: flex;
  display: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.whyus-benefit-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--green2);
  border-radius: 25px;
  gap: 10px;
  padding: 10px;
  width: 30%;
  height: 450px;
}
.whyus-h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--green3);
  padding: 5px 20px;
  border-radius: 20px;
}
.whyus-h3 h3 {
  font-size: var(--large);
  font-weight: var(--font-black);
}

.whyus-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  gap: 10px;
  font-size: var(--medium);
}
.whyus-info {
  background-color: var(--green3);
  padding: 10px 40px;
  border-radius: 20px;
}

footer {
  background-color: var(--green2);
  color: var(--white2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100vw;
}

.footer {
  display: flex;
  flex-direction: row;
  width: 1200px;
  justify-content: space-around;
  gap: 10px;
  padding: 20px;
  align-items: center;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: var(--medium);
}

.footer img {
  width: 100px;
}
.footer-redes {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  padding: 10px;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.footer-redes a {
  font-size: 40px;
}

.copyright {
  font-size: var(--large);
  font-weight: var(--font-black);
}
