@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap");

:root {
  /* colors */
  --mandarine: rgb(130, 166, 197);
  --black-primary: rgb(0, 0, 0);
  --black-secondary: rgb(19, 20, 21);
  --white: rgb(255, 255, 255);
  --grey: rgb(63, 63, 63);

  /* font-size */
  --small: 14px;
  --medium: 18px;
  --large: 24px;
  --xlarge: 32px;
  --xxlarge: 48px;

  /* fonts */
  --font-light: (200);
  --font-regular: (400);
  --font-bold: (600);
  --font-black: (800);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px;
  background-color: var(--mandarine);
  height: 60px;
  padding: 0 1.5rem;
  font-weight: var(--font-bold);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  height: 50px;
}

.list-ul {
  display: flex;
  gap: 1.5rem;
}

li a {
  color: var(--white);
}

i {
  padding: 5px;
}

main {
  background-color: var(--black-secondary);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-container {
  padding: 80px;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
}
.slogan {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 45%;
  padding: 40px;
}
.title-hero {
  font-size: var(--xxlarge);
  font-weight: var(--font-black);
}

.btn {
  display: flex;
  justify-content: start;
  gap: 30px;
  max-width: 300px;
}

.btn-hero1 {
  border: none;
  background-color: var(--grey);
  color: var(--white);
  padding: 0px 20px;
  border-radius: 20px;
  font-size: x-small;
  cursor: pointer;
}

.More-info {
  border: 1px solid var(--grey);
  background-color: none;
  color: var(--white);
  padding: 0 20px;
  border-radius: 20px;
  border-style: 5px;
  font-size: x-small;
}

.info-container {
  padding: 80px;
  display: flex;
  width: 1000px;
  justify-content: center;
  align-items: center;
}

.info-container p {
  text-align: center;
  font-size: var(--xlarge);
  font-weight: var(--font-black);
}
